{{ define "main" }}
  <article class="markdown book-article">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    
    {{ range .Site.Pages.GroupByDate "2006-01" }}
      <h2>{{ .Key | dateFormat "2006年01月" }}</h2>
      <ul>
        {{ range .Pages }}
          {{ if not .IsHome }}
            <li>
              {{ .Date | dateFormat "02日" }}: 
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </article>
{{ end }}
